body{
	margin-bottom: 0px;
	padding: 0px;
	background: url(bg.jpg);
	background-size: cover;
	background-position: center;
	font-family: sans-serif;
	height: 100vh;
}
.login-box{
	width: 420px;
	height: 320px;
	background: rgba(0,0,0,0.5);
	color: #fff;
	top: 50%;
	left: 50%;
	position: absolute;
	box-sizing: border-box;
	padding: 70px;
	transform: translate(-50%,-50%);
}
.avatar{
	width: 100px;
	height: 100px;
	
	position: absolute;
	top: -50px;
	left: calc(50% - 50px);
}
h1{
	margin-top: 0px;
	padding: 0 0 20px;
	text-align: center;
	font-size: 22px;
}
.login-box p{
	margin-bottom: 0px;
	padding: 0px;
	font-weight: bold;
}
.login-box input{
	width: 100%;
	margin-bottom: 60px;
}
.login-box input[type="text"], input[type="password"]{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 60px;
	color: #fff;
	font-size: 20px;
}.login-box input[type="submit"]{
	border: none;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 20px;
	border-radius: 60px;
	background: #1c8adb;
}
.login-box input[type="submit"]:hover{
	cursor: pointer;
	background: #E33D56;
	color: #fff;
}
.login-box a{
	text-decoration: none;
	font-size: 20px;
	color: #fff;
}
.login-box a:hover{
	color: #E33D56;
}